<br>
<div class="row">
	<div class="col-xs-1">
		<%= link_to 'Back', requests_path, :class => "btn btn-info btn-sm westmontTextMuseo3" %>
	</div>
	<div class="col-xs-8 col-md-offset-1">
		<h2 style="color: #49afcd" class="center-block westmontTextMuseo3">Edit Request - <%= @request.jobtitle %></h2>
	</div>

</div>
<%= render 'form' %>
