<div class="modal-content" id="new_dependency_modal">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h2 style="color: #49afcd" class="center-block westmontTextMuseo3">New Cost Dependency for - <%= @cost.category+" - "+@cost.option %></h2>
	</div>
	<div class=modal-body>
		<%= render 'form' %>
	</div>
</div>