// Place all the styles related to the costs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-category{
	display: none;
}

#new-option{
	display: none;
}

#new-dependency{
	display: none;
}

#new-dependency-category{
	display: none;
}

#new-dependency-option{
	display: none;
}