.nav-link{
	font-size: 14px;
	font-family:'<REDACTED>';
	text-transform: uppercase;
	font-weight:bold;
	color: white;
	line-height: 30px;
}

.nav-link > li > a{
	font-size: 14px;
	font-family:'<REDACTED>';
	text-transform: uppercase;
	font-weight:bold;
	color: white !important;
	line-height: 30px !important;
	padding-top: 0 !important;
	padding-left: 0 !important;
}

.welcome > li{
	font-size: 14px;
	font-family:'<REDACTED>';
	text-transform: uppercase;
	font-weight:bold;
	color: white !important;
	line-height: 65px !important;
}

.westmontTextStone{
	font-family: '<REDACTED>';
}

.westmontTextMuseo9{
	font-family: '<REDACTED>'
}

.westmontTextMuseo3{
	font-family: '<REDACTED>'
}

.carousel-inner{
	min-width: 100% !important;
}